<section class="container">

  <ng-container *ngIf="dataSource$ as dataSource">
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 col-12">

      <ng-container *ngFor="let col of displayedColumns" matColumnDef="{{ col }}">

        <!-- Will loop throught headers -->
        <mat-header-cell mat-sort-header *matHeaderCellDef>
          <div class="text-uppercase">
            <i *ngIf="col === 'pv'" class="fas fa-heart text-danger mr-2"></i>
            <i *ngIf="col === 'dmg'" class="fas fa-hammer text-dark mr-2"></i>
            <i *ngIf="col === 'mana'" class="fas fa-bolt text-primary mr-2"></i>
            {{ col }}
          </div>
        </mat-header-cell>

        <!-- contains the data foreach column -->
        <mat-cell *matCellDef="let hero">{{ hero[col] }}</mat-cell>

      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>
  </ng-container>

</section>
