<section class="container">
  <div class="row">

    <ul class="nav nav-pills nav-fill col-12 mb-4">
      <ng-container *ngFor="let hero of heroes">
        <li class="nav-item" (click)="onSelect(hero)">
          <a class="nav-link"
            [ngClass]="{'active text-white': selectedHero && selectedHero.id === hero.id }">
            {{ hero.name }}
          </a>
        </li>
      </ng-container>
    </ul>


    <section *ngIf="selectedHero" class="col-12">
      <app-hero-detail [hero]="selectedHero"></app-hero-detail>
    </section>

  </div>
</section>