<section class="container">
  <div class="row">

    <section class="col-12 mb-4">
      <ng-container *ngFor="let hero of heroes$ | async">
        <button
        class="mr-3"
        (click)="onSelect(hero)"
        mat-raised-button
        color="{{ (selectedHero && selectedHero.id === hero.id) ? 'primary' : '' }}">
        {{ hero.name }}
        </button>
      </ng-container>
    </section>

    <section *ngIf="selectedHero" class="col-12">
      <app-hero-detail [hero]="selectedHero"></app-hero-detail>
    </section>

  </div>
</section>